$primary: orange;
$link-hover-color: black;
$navbar-light-color: white;
$navbar-light-hover-color: black;
$navbar-light-active-color: black;
$dropdown-bg: $primary;
$dropdown-link-hover-bg: none;
@import 'bootstrap/scss/bootstrap';